Django>=1.9.3,<1.10
dj-database-url
dj-static
gunicorn
cffi
psycopg2cffi
static3
coverage
django-nose
Pillow
Markdown
bleach
flake8
pep8
envdir
freezegun
Sphinx
sphinxcontrib-httpdomain
django_coverage_plugin
