alabaster==0.7.10
Babel==2.5.1
bleach==2.1.1
certifi==2017.11.5
chardet==3.0.4
coverage==4.4.2
dj-database-url==0.4.2
dj-static==0.0.6
Django==2.0rc1
django-coverage-plugin==1.5.0
django-nose==1.4.5
docutils==0.14
envdir==0.7
flake8==3.5.0
freezegun==0.3.9
gunicorn==19.7.1
html5lib==1.0b10
idna==2.6
imagesize==0.7.1
Jinja2==2.10
Markdown==2.6.9
MarkupSafe==1.0
mccabe==0.6.1
nose==1.3.7
olefile==0.44
pep8==1.7.1
Pillow==4.3.0
psycopg2==2.7.3.2
pycodestyle==2.3.1
pyflakes==1.6.0
Pygments==2.2.0
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.6.5
sphinxcontrib-httpdomain==1.5.0
sphinxcontrib-websupport==1.0.1
static3==0.7.0
urllib3==1.22
webencodings==0.5.1
