Django>=2.1,<2.2
dj-database-url
dj-static
gunicorn
psycopg2
static3
coverage
pytest-django
pytest-cov
Pillow
Markdown
bleach
flake8
pep8
envdir
freezegun
Sphinx
sphinxcontrib-httpdomain
django_coverage_plugin
