{% extends "base.html" %}
{% load markdown %}

{% block content %}

<div id="authorization">

 <h1>
  <span class="app-name">{{app.name}}</span>
  wants to access your account
 </h1>

 <div id="app">
  <img class="app-logo" src="{{ app.logo_url }}" alt="{{ app.name }}' Logo" />
  <p>{{ app.description|markdown }}</p>

  <a class="app-link" rel="nofollow" href="{{ app.website_url }}">
   <i class="fa fa-external-link"></i>
   {{ app.name }} website
  </a>
 </div>

 <div id="permissions">
  <form action="" method="post">

   {% csrf_token %}


   {% if existing_scopegroups %}
    <h2><span class="app-name">{{app.name}}</span> requests these additional permissions</h2>
   {% else %}
    <h2><span class="app-name">{{app.name}}</span> requests these permissions</h2>
   {% endif %}

   {% for sg in new_scopegroups %}
    {% include "authorization/scopegroup-box.html" with scopegroup=sg only %}
   {% endfor %}

   {% if existing_scopegroups %}
    <h2>You already gave <span class="app-name">{{app.name}}</span> these permissions</h2>

    {% for sg in existing_scopegroups %}
     {% include "authorization/scopegroup-box.html" with scopegroup=sg only %}
    {% endfor %}
   {% endif %}


   <button name="btn:allow" type="submit">Allow</button>
   <button name="btn:deny" type="submit">Deny</button>

  </form>

 </div>

</div>

{% endblock content %}
